

.headlines {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 4rem;
}

.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero img {
  height: 250px;
  width: 90%;
  padding: 2rem;
}

.image-tile {
  height: 210px;
  float: left;
  margin-right: 1em;
  width: 210px;
}

.headline:hover {
  background: black;
}

date {
  color: yellow;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
}

h3 {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background-color: black;
  width: 100%;
}

.navitems {
  display: flex;
  list-style-type: none;
  gap: 1em;
}

.navitem {
  font-size: 1.5em;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home img {
  height: 10em;
  width: auto;
}

.home h2 {
  text-align: center;
}

@media (max-width: 768px) {
  .headlines {
    display: flex;
    flex-direction: column;
  }
  
  .headline {
    align-items: flex-start;  Align items to the left on smaller screens
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 1em;
  }
  
  .content p {
    padding: 2em;
  }
  
}

@media (prefers-color-scheme: light) {
  date {
    color: indianred;
  }

  .headline:hover {
    background: black;
    color: white;
  }

}