#root {
  margin: 0 auto;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero img {
  height: 200px;
  width: 80%;
  padding: 2rem;
}

.image-tile {
  height: 200px;
  float: left;
  margin-right: 1em;
}

.headline {
  display: flex;
  align-items: flex-start;
  padding: 1em;
  width: 45%;
  /* flex-wrap: wrap; */
}

.headline:hover {
  background: black;
}

.content h2 {
  margin-top: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.content {
  display: block;
}

date {
  color: yellow;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
}

h3 {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .headline {
    /* align-items: flex-start;  Align items to the left on smaller screens */
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 1em;
  }

  .right {
    float: left;
  }
  
  .image-tile {
    margin: 0 auto 1em; /* Remove margins to stack the image on top */
    float: left;
  }

  .content p {
    padding: 2em;
  }
  
}

@media (prefers-color-scheme: light) {
  date {
    color: indianred;
  }

  .headline:hover {
    background: black;
    color: white;
  }

}